

<script src="/js/Groups.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/StyleSheet.css" />

    <div class="header">
        <span> <img src="/images/logo.png" height="98" /> </span>
        <span id="headerTitle">Group List</span>
        <span class="right"> <%include template.ejs%></span>
    </div>

    <!-- I'm not sure how to make the checkbox itself invisible while showing the checkbox.-->
    <span class="switch" display="inline-block">
        Group Visibility (All/Mine):
      <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox" opacity="0" display="none">
      <label for="cmn-toggle-7" data-on="My Groups" data-off="All Groups"></label>
    </span>

    <span display="block" float="left" padding-left="200px" width="500px">
    </span>

    <span display="inline-block">
        <button id="createGroup">Create a Group</button>
    </span>


<div id="allGroups">
    <h1><u>All Groups</u></h1>

    <table id="allGroupsTable">
        <tr>
            <th>Name</th>
            <th>Motto</th>
            <th>Number of Users</th>
            <th>Creation Date</th>
            <th>Join/Leave?</th>
        </tr>

    </table>

</div>

<div id="myGroups" class="invisible">
    <h1><u>My Groups</u></h1>

    <table id="myGroupsTable">
        <tr>
            <th>Name</th>
            <th>Motto</th>
            <th>Number of Users</th>
            <th>Creation Date</th>
            <th>Leave?</th>
        </tr>

    </table>

</div>



