<link rel="stylesheet" type="text/css" href="styles/StyleSheet.css" />
<script src="/js/homepage.js"></script>
<div class="header">
  <span> <img src="images/logo.png" height="98"/> </span>
  <span id="headerTitle">Register a User Account</span>
  <span class="right"> <%include template.ejs%></span>
</div>

<form id="form1" >
  <h1 class="center">AccountaBuddies</h1>
  <div>
    <h2>Register a new account!</h2>
    <div id="invalidLoginAttempt"  visible="false"></div>
    Desired Username: <input id="input-username" type="text" name="username" /><br />
    <!-- Do we want to insert a button here to click to check if the username is valid/available? -->
    <span id="usernameEntered"  visible="false"></span> <br /> <br />
    Password: <input id="input-password" type="text" name="password" /><br />
    <span id="passwordEntered"  visible="false"></span> <br /> <br />
    Confirm Password: <input id="input-confirm" type="text" name="confirmPassword" /><br />
    <span id="passwordsMatch"  visible="false"></span> <br /> <br />

    <button type="button" id = "register-btn">register</button>
  </div> <br />

  <a href="/">Back to login page</a>

</form>


<div id="progressbar">
  <div></div>
</div>
