
  <script src="/js/login.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/StyleSheet.css" />
  <link rel="stylesheet" type="text/css" href="/styles/form.css" />
<div class="header">
  <span> <img src="/images/logo.png" height="98"/> </span>
  <span id="headerTitle">AccountaBuddies</span>
  <span class="right"> <%include template.ejs%></span>
</div>

<form id="form1" >
  <h1 class="center">AccountaBuddies</h1>
  <div>

    <h2>Log In</h2>
    <div id="invalidLoginAttempt" visible="false"></div>
    <Label >Username</Label>
    <input id="username" type="text" name="username" /><br />
    <span id="usernameEntered" visible="false"></span> <br /> <br />
    <Label >Password</Label>
    <input id="password" type="text" name="password" /><br />
    <span id="passwordEntered" visible="false"></span> <br /> <br />

    <div id="btn-login" class="btn action" style="width: 50%;">Log In</div>
  </div> <br />

  <a href="/">Don't have an account yet?  Click here to sign up!</a>

</form>
