<link rel="stylesheet" type="text/css" href="/styles/StyleSheet1.css"/>
<script src="/js/ProfileGoal.js"></script>
<div class="header">
  <span> <img src="/images/logo.png" height="98"/> </span>
  <span id="headerTitle">PERSON_USERNAME</span>
  <span class="right"> <%include template.ejs%></span>

</div>

<div id="leftGoalPost">
  <h2 text-align="center">Profile Information</h2>
  <br/> <br/>
  <dl>
    <dt>First Name</dt>
    <dd id="firstName">PERSON_FIRST_NAME</dd>
    <dt>Last Name</dt>
    <dd id="lastName">PERSON_LAST_NAME</dd>
    <dt>Age</dt>
    <dd id="age">PERSON_AGE</dd>
    <dt>Gender</dt>
    <dd id="gender">Canadian</dd>
    <dt>Member Since</dt>
    <dd id="regDate">REGISTRATION_DATE</dd>
  </dl>
    <button type="button" id = "modifyPageButton">Mofify User Information</button>

</div>

<div id="rightGoalSteps">
  <h1><u>Goals</u></h1>

  <table id="goalList">
    <tr>
      <th>Name</th>
      <th>Creation Date</th>
      <th>Number of Steps</th>
      <th>Progress</th>
      <th>Delete?</th>
    </tr>

  </table>
</div>

