<link rel="stylesheet" type="text/css" href="/styles/StyleSheet.css"/>
<script src="/js/nav-bar.js"></script>
    <span class="right">
        <a href="/user/profile">View your profile</a> |
        <a href="/goal/createPage">Create a goal</a> |
        <a href="/group/listPage">Groups</a> |
        <a href="/" id="logout">Logout </a>
    </span>

<!-- Set class="selected" for the current page link -->
<!-- Add functionality to logout  -->
