
.btn {
  float: left;
  height: 30px;
  width: 80px;
  text-align: center;
  line-height: 30px;
  background-color: #EFEFEF;
  color: #999999;
  cursor: pointer;
}
.btn.action {
  background-color: #00CCFF;
  color: white;


}
