body {
    padding-top: 100px;
    background-color: #F0F0F0;
}

.header {
    height: 100px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 2px solid blue;
 }

#headerTitle {
    font-size: 20px;
    font-weight: bold;
}

* {
    border-radius: 5px;
}


#progressbar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div {
  background-color: orange;
  width: 20%; /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}
